{% extends "AnimeInsightApp/layout.html" %}
{% block title %}About Us{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-white">About Us</h1>
        <h2 class = " text-white lead">Welcome to AnimeInsight, where the vibrant world of anime awaits you! In a digital landscape overflowing with entertainment options, we stand out as a beacon for anime enthusiasts, offering a haven for exploration and discovery.</h2>
        <br>
        <h2 class = "text-white lead">   At AnimeInsight, we understand the exhilarating yet overwhelming experience of delving into the vast universe of anime. With countless series and films to choose from, finding your next obsession can feel like navigating a labyrinth. That's where we come in. Our platform is meticulously designed to be your trusted guide, simplifying the journey to finding your next favorite anime gem.</h2>
        <br>
        <h2 class = "text-white lead">    What sets us apart is our commitment to personalization. Powered by cutting-edge Artificial Intelligence models, our platform doesn't just offer generic recommendations—it learns from your viewing habits and preferences to tailor suggestions specifically for you. Whether you're a seasoned otaku or just dipping your toes into the anime waters, our personalized recommendation engine ensures that there's always something exciting in store for you.</h2>
        <br>
        <h2 class = "text-white lead">    But that's just the beginning. At AnimeInsight, we believe in putting the power in your hands. With features like customizable profiles, intuitive watchlists, and interactive ratings and reviews, you have the tools to curate your anime-watching experience like never before. Whether you're building your dream watchlist, sharing your thoughts with fellow fans, or discovering hidden gems, our platform empowers you to shape your anime journey according to your unique tastes and preferences.</h2>
        <br> 
        <h2 class = "text-white lead">    Join us as we embark on a mission to redefine how anime enthusiasts engage with their passion online. Whether you're a die-hard fan or a curious newcomer, there's a place for you in our community. Welcome to AnimeInsight, where the adventure never ends, and the anime magic awaits!</h2>
        
        <!-- Add more content as needed -->
    </div>
</div>
{% endblock %}