{% extends "AnimeInsightApp/layout.html" %}
{% block title %}Search{% endblock %}

{% block body %}
    
        {% if animes %}
        <h2 class="text-white">Results</h2>
        <div class="row no-gutters recommendation-images">
            {% for anime in animes %}
            <div class="col-md-2">
                <a href="{% url 'AnimeInsightApp:one_anime_page' anime_id=anime.0 %}"data-toggle="popover" data-trigger="hover"  data-content="{{ anime.1 }}" data-placement="bottom">
                    <img src="{{ anime.2 }}" alt="{{anime.1}}" class="img-fluid hover-effect">

                </a>
            </div>
            

            {% endfor %}
            
        </div>
        {% else %}
        <h2 class="text-white">No matching Anime found :(</h2>
        {% endif %}

    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
   </script>
{% endblock %}