{% extends "WL/layout.html" %}
{% block title %}Trending Anime{% endblock %}

{% block body %}
    <h2>Trending Anime</h2>
    <div class="anime-container">
        {% for anime in anime_list %}
            <div class="anime-item">
                <form method="POST" action="{% url 'add_to_wishlist' anime_id=anime.anime_id %}">

                    {% csrf_token %}
                    <input type="hidden" name="anime_id" value="{{ anime.anime_id }}">
                    <img src="{{ anime.image_url }}" alt="{{ anime.name }}" width="100" height="150">
                    <h3>{{ anime.name }}</h3>
                    <p>Score: {{ anime.score }}</p>
                    <button  type="submit">Add to Wishlist</button>
                </form>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div><div class="anime-container">
            {% endif %}
        {% empty %}
            <p>No anime found.</p>
        {% endfor %}
    </div>
{% endblock %}
