{% extends "AnimeInsightApp/layout.html" %}
{% block title %}Wish-List{% endblock %}


{% block body %}
<style>
    /* === BASE HEADING === */ 
    h1 {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: white;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
    }

    h1 em {
        font-style: normal;
        font-weight: 600;
    }

    /* === HEADING STYLE #1 === */
    .one h1 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    .one h1:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        margin-left: -14px;
        background-color: #b80000;
    }

    .one h1:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -50px;
        background-color: #b80000;
    }
</style>
<br>
<div class="one">
    <h1 class="one">Wishlist</h1>
</div>
<br>
<div class="wishlist-container">
    {% if wishlist %}
        {% for item in wishlist %}
            <div class="wishlist-item">
                <img src="{{ item.animeid.image_url }}" alt="{{ item.animeid.name }}">
                <h3>{{ item.animeid.name }}</h3>
                <p>Score: {{ item.animeid.score }}</p>
                <form method="post" action="{% url 'remove_from_wishlist' anime_id=item.animeid_id %}">
                    {% csrf_token %}
                    <button type="submit">Remove from Wishlist</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}
