/* WL/css/style.css */

.anime-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  color: white; /* Set text color to white */
}


.hi h2 {
  color: blue;
  font-size: 24px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}
.wishlist-item {
  float: left;
  width: 25%; /* Set width to 25% for four items in a row */
  padding: 0 15px; /* Add spacing between items */
  box-sizing: border-box;
  margin-bottom: 50px;
  text-align: center; /* Center align content */
}

.wishlist-item img {
  width: 200px; /* Ensure images don't exceed their container width */
 
  height: 220px;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.wishlist-item h3,
.wishlist-item p {
  margin: 10px 0; /* Add spacing between text */
}

.wishlist-item button {
  display: inline-block;
  background-color:white; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s; /* Add smooth transition */
}

.wishlist-item button:hover {
  background-color: red; /* Darker green on hover */
}

.anime-item {
    width: 25%; /* Each item occupies 25% of the container width */
    padding: 10px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding in width calculation */
    color: azure;
    
}

.anime-item img {
    width: 70%; /* Ensure images fill their container */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.anime-item img:hover {
    transform: scale(1.2); /* Scale up the image on hover */
    border: 3px red; /* Add border color and width */
    border-radius: 6px; /* Add border radius for rounded corners */
}

body {
    margin: 0;
    background-color: black;
    color:black; /* Set text color to white */
}




.anime-item button {
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s; /* Add smooth transition */
}

.anime-item button:hover {
  background-color: darkred; /* Darken the background color on hover */
}


.hi h2 {
  color: blue;
  font-size: 24px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}


.wishlist-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #333; /* Choose your desired color */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}









